trigger:
  branches:
    include:
      - main

pool:
  vmImage: ubuntu-latest

variables:
  azureFunctionAppName: 'FuncDataSynergyFinance'
  azureResourceGroup: 'RG_ITAAS'
  pythonVersion: '3.10'

steps:
- task: UsePythonVersion@0
  inputs:
    versionSpec: '$(pythonVersion)'
    addToPath: true
  displayName: 'Configurer la version de Python'

- script: |
    python -m pip install --upgrade pip
    pip install -r requirements.txt
  displayName: 'Installer les dépendances Python'

- task: AzureCLI@2
  inputs:
    azureSubscription: 'LZ-DataSynergie-Subscription'
    scriptType: 'bash'
    scriptLocation: 'inlineScript'
    inlineScript: |
      npm install -g azure-functions-core-tools@4 --unsafe-perm true
      func azure functionapp publish $(azureFunctionAppName) --python
  displayName: 'Déployer l’Azure Function'
